<h1>Calculator</h1>

<%= form_tag calc_calculate_path, :method => :post, :remote => true do %>
    <%= text_field_tag :expression, nil, :onkeyup => "this.form.sub.click()" %> = <span id="sum"></span>
    <%= submit_tag "ok", :name => "sub" %>
<% end %>